<% @item = item %>


<div id="item">

		<span id="item_data">
		<%= @item.name %><span id="link"><%= link_to image_tag('link.png', :border => 'none', :size => '20x20', :title => 'Visit site (opens in a new page)'), "#{@item.url}", :popup => 'true' %></span>
	
		<span id="notes"><%= in_place_editor_field :item, 'notes' %> </span>

 			<span id="days"><% if days < 1 %>
			
				less than 1 day ago
				
			<% else %> 
			
				<% if days == 1 %>
			
				1 day ago
				
				<% else	%>
				
					<% if days >= 30 %>
				
						more than 30 days ago
					
					<% else %>
					
						<span class="days_middle"><%= days %></span><br />
						<span class="days_bottom">days ago</span>
						
					<% end %>
				
				<% end %>
				
			<% end %>
		</span>

	
		
		<span class="delete"><%= link_to_remote image_tag('closebox.png', :border => 'none', :size => '25x25', :title => 'Delete item'), :url => {:controller => 'items', :action => 'delete', :id => @item.id}, :loading => "Element.hide('firefox_fix')", :complete => "Element.show('firefox_fix')" %></span>
			
		<div class="status">
		
			<% if days >= 30 %>
				<span id="traffic_light" class="red"></span>
			<% else %>
			
				<% if days <= 15 %>
					<span id="traffic_light" class="green"></span>
				<% else %>
					<span id="traffic_light" class="yellow"></span>
				<% end %>
				
			<% end %>
		
		</div>

		
</div>