<% @item = item %>


<div class="item">

	<span class="item_left">
	
		<h2><%= @item.name %> <span id="link"><%= link_to image_tag('link.png', :border => 'none', :size => '20x20', :title => 'Visit site (opens in a new page)'), "#{@item.url}", :popup => 'true' %></span></h2> 
	
		<span id="notes"><%= in_place_editor_field :item, 'notes' %> </span>

 	</span>
 	
 	<span class="item_right_back"></span>
	
	<span class="item_right">

		
		<span class="days_top">Item added</span><br />
		
			<% if days < 1 %>
			
				<span class="days_middle"><1</span><br />
				<span class="days_bottom">day ago</span>
				
			<% else %> 
			
				<% if days == 1 %>
			
				<span class="days_middle">1</span><br />	
				<span class="days_bottom">day ago</span>
				
				<% else	%>
				
					<% if days >= 30 %>
				
						<span class="days_middle_red">+30</span><br />
						<span class="days_bottom">days ago</span>
					
					<% else %>
					
						<span class="days_middle"><%= days %></span><br />
						<span class="days_bottom">days ago</span>
						
					<% end %>
				
				<% end %>
				
			<% end %>
			
		<span class="delete"><%= link_to_remote image_tag('closebox.png', :border => 'none', :size => '25x25', :title => 'Delete item'), :url => {:controller => 'items', :action => 'delete', :id => @item.id} %></span>

	</span>
	
	
</div>