<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Items: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<div id="header">
	
		<div id="logo">thirtydays.</div>
	
			<div id="login_logout">
			<% if logged_in? %>
				Welcome, <b><%= current_user.login.capitalize %> </b> | <%= link_to 'Logout', logout_path %>
			<% else %>
				No user currently logged in
			<% end %>
			</div>	
	
</div>

<div id="content">
	
		<%= yield %>

</div>

<div id="footer">
<div id="handle">Get the bookmarklet</div>
<%= link_to_function 'test', update_page{ |page| page.visual_effect :toggle_blind, 'bookmarklet', :duration => '0.3'} %>

<div id="bookmarklet" style="display:none;">Get the bookmarklet <%=image_tag 'arrow.png', :size => '30x10' %>
	  	<a href="javascript:var d=document,w=window,e=w.getSelection,k=d.getSelection,x=d.selection,s=(e?e():(k)?k():(x?x.createRange().text:0)),f='http://<%= request.host_with_port %>/items/new',l=d.location,e=encodeURIComponent,p='?v=1&u='+e(l.href)%20+'&t='+e(d.title.replace(/^\s*|\s*$/g,''))%20+'&s='+e(s),u=f+p;try{if(!/^(.*\.)?instapaper([^.]*)?$/.test(l.host))throw(0);
iptstbt();}catch(z){a =function(){if(!w.open(u,'t','toolbar=0,resizable=no,status=0,scrollbars=no,
width=350,height=280'))l.href=u;};if(/Firefox/.test(navigator.userAgent))setTimeout(a,0);
else a();w.close();}ipr15();void(0)">
    Save for later
  	</a>
	
</div>
</div>

</body>
</html>
